@import "../style/variables.less";

.time-cursor {
    position: absolute;
    user-select: none;
    height: 100%;
}

.time-cursor>.cursor {
    position: absolute;
    width: 10px;
    top: @time-ruler-height;
    bottom: 0px;

    >.cursor-icon {
        position: absolute;
        top: -20px;
        left: -4.5px;
    }

    >.cursor-bar {
        position: absolute;
        height: 100%;
        width: 1px;
        background-color: grey;
    }
}

.time-cursor:hover {
    cursor: e-resize;
}

.time-cursor>.overlay {
    display: none;
    cursor: e-resize;

    width: 1200px;
    height: 100%;
    position: absolute;
    transform: translateX(-50%);

    &.visible {
        display: block;
    }
}